@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #eeeeee;
  font-family: "Poppins", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
}

img {
  height: 400px;
  width: 225px;
  border: 2px solid #4b778d;
  border-radius: 15px;
  text-align: center;
}

p {
  margin: 10px 0px 0px 0px;
}

#bench {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#buttons {
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
}

#errormessage {
  display: flex;
  justify-content: center;
  margin: 0;
}

#racquetcontainer {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

#resetbtn {
  margin: 7px 5px;
  font-family: "Poppins";
  padding: 8px 15px;
  border-radius: 10px;
  border: 2px solid #febf63;
  color: black;
  background-color: #febf63;
}

#resetbtn:hover {
  border: 2px solid #4b778d;
  cursor: pointer;
}

.button {
  margin: 7px 5px;
  font-family: "Poppins";
  padding: 8px 15px;
  border-radius: 10px;
  border: 2px solid #66de93;
  color: black;
  background-color: #66de93;
}

.button:hover {
  border: 2px solid #4b778d;
  cursor: pointer;
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.checkbox {
  margin-right: 15px;
}

.checkbox:hover {
  cursor: pointer;
}

.details {
  height: 407px;
  width: 225px;
  border: 2px solid #4b778d;
  border-radius: 15px;
  background-color: white;
  color: black !important;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.racquet {
  text-align: center;
  margin: 0px 20px 20px 20px;
}

.racquet:hover {
  cursor: pointer;
}

.selectors {
  margin: 25px 0px;
}
